[submodule "TinyLlama"]
	path = TinyLlama
	url = https://github.com/ido-co/TinyLlama.git
[submodule "OLMo"]
	path = OLMo
	url = https://github.com/dhgottesman/OLMo.git
[submodule "dolma"]
	path = dolma
	url = https://github.com/dhgottesman/dolma.git
[submodule "OLMo-core"]
	path = OLMo-core
	url = https://github.com/dhgottesman/OLMo-core.git
[submodule "WEXEA"]
	path = WEXEA
	url = https://github.com/ad-freiburg/WEXEA.git
[submodule "olmes"]
	path = olmes
	url = https://github.com/dhgottesman/olmes.git
[submodule "ReFinED"]
	path = ReFinED
	url = https://github.com/dhgottesman/ReFinED.git
[submodule "maverick-coref"]
	path = maverick-coref
	url = https://github.com/dhgottesman/maverick-coref.git
[submodule "open-instruct"]
	path = open-instruct
	url = https://github.com:dhgottesman/open-instruct.git
